@import "fonts";
@import "functions";

@import "node_modules/aos/dist/aos";

//&display=swap

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,italic,500,600,700,800,900&display=swap);

$bg: rgb(239, 238, 232);
$bg-second:#e1e1e1;
$bg-glass: rgba(240, 240, 240, 0.761);
// $bg-glass: rgba(110, 110, 110, 0.426);
$backdrop-filter-car-glass: 10px;

$shadow: rgba(109, 109, 109, 0.606);
$light: rgba(255, 255, 255, 0.616);
$color-mark: #3c9051;
$color-mark-second: #23255c;
$bg-out-scroll: rgb(76, 83, 97);
$bg-button-second: #c9a220;
$bg-button-text-second: #8f7316;
$bg-mark-card: #c9a220;
$bg-card-portfolio: rgb(235, 236, 232);

// $clr-neon: hsl(317 100% 54%);
// $clr-bg: hsl(323 21% 16%);
$text: rgb(19, 19, 19);
$color-text-contacts: #4d4d4d;
$color-footer: #ececec;
$color-footer-hover: #c9e7bf;




$box-shadow-in: 2px 2px 5px $shadow,
						-2px -2px 5px $light;

$box-shadow-out: 4px 4px 4px $shadow inset,
						-4px -4px 4px $light inset;
$box-shadow-out-hover: 2px 2px 2px $shadow inset,
						-4px -4px 4px $light inset;
$box-shadow-out-text: 2px 2px 2px $shadow,
							-2px -2px 2px $light;
$box-shadow-hover: 8px 8px 10px $shadow,
							-8px -8px 10px $light;
$box-shadow-hover-active: 8px 8px 10px $shadow,
							-8px -8px 10px $light;
$box-shadow-active: 2px 2px 2px $shadow,
							-2px -2px 2px $light;
$box-shadow-focus: 2px 2px 2px $shadow inset,
							-2px -2px 2px $light inset;

// .language-en {
// 	display: none;
// }

// .language-ua {
// 	display: none;
// }

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@media (max-width: 380px) {
body {
	min-width: 380px;
	background: #cedecc;
	}
}

//! =============== Scroll =============

::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track{
	background: $bg;
	box-shadow: $box-shadow-out;
}

::-webkit-scrollbar-thumb{
	border: solid 1px #e8e1da;
	
	background: $bg-out-scroll;
	border-radius: 10px;
}


img {
	object-fit: cover;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
	font-family: 'Montserrat';
	@include adaptiv-font(18, 16);
	color: $text;
	font-weight: 500;
}

h1 {
	font-weight: 600;
}

body._lock {
	// overflow: hidden;
}

a {
	text-decoration: none;
	color: inherit;
	text-align: center;
}

.conteiner__nav {
	position: fixed;
	display: flex;
	flex-direction: row;
	width: 260px;
	height: 100%;
	justify-content: center;
	z-index: 99999;
	overflow-x: auto;

	background-color: $bg-glass;
	backdrop-filter: blur(10px);
	box-shadow: $box-shadow-in;
}

.card-glass {
	background-color: $bg-glass;
	// backdrop-filter: blur(10px);
	// backdrop-filter: $backdrop-filter-car-glass;
	backdrop-filter: blur($backdrop-filter-car-glass);
	box-shadow: $box-shadow-in;
	border-radius: 80px;
	max-width: rem(1280);
	width: 100%;
	// margin: 50px;
	// padding: 40px;
	@include adaptive-value("margin-bottom", 30, 15, 0);
	@include adaptive-value("margin-left", 30, 15, 0);
	@include adaptive-value("margin-right", 30, 15, 0);
	@include adaptive-value("padding", 40, 30, 0);
	@include adaptive-value("border-radius", 80, 30, 0);

}

.nav-menu {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0 20px 0 20px;

	.container__avatar-name {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 40px;

		.nav__avatar {
			box-sizing: content-box;
			@include adaptiv-width(120, 90);
			@include adaptiv-height(120, 90);
			justify-content: center;
			align-items: center;
			margin: 20px auto;
			transform: translatey(0px);
			
			img {
				animation: float 6s ease-in-out infinite;
				border: rem(5) solid $bg;
				height: calc(100% - 10000px);
				border-radius: 100px;
				width: 100%;
				height: 100%;
			}
		}

		@keyframes float {
			0% {
				box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
				transform: translatey(0px);
			}
			50% {
				box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
				transform: translatey(-10px);
			}
			100% {
				box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
				transform: translatey(0px);
			}
		}

		.nav__name {
			padding: 10px 10px 0 10px;
			border-top: 2px solid $color-mark-second;
			margin: 0 auto;
		}

		h1 {
			@include adaptiv-font(24, 22);
		}

		span {
			@include adaptiv-font(18, 16);
			font-style: italic;
		}
	}

		.nav-list__item-link--active {
			transition: box-shadow .2s;
			border: solid 5px $color-mark;
			border-radius: 100px;
			box-shadow:$box-shadow-out;
			transition: border .3s;
			
			&:hover {
				box-shadow:$box-shadow-out-hover;
			}
		}
}

	.nav-list {
		display: flex;
		flex-direction: column;
		gap: 20px;
		

		&__item {
			list-style: none;
		}

		&__item-link {
			@include adaptiv-font(20, 18);
			padding-left: 20px;
			display: flex;
			gap: 10px;
			align-items: center;
			justify-items: center;
			height: rem(60);
			width: 100%;
			padding: 10px;
			border-radius: 100px;
			background-color: $bg;
			// transition: all .3s;
			
			span {
				padding-left: 10px;
			}
		}

	}

.button-nav {
			box-shadow: $box-shadow-in;
			transition: all .2s;
			cursor: pointer;

			&:hover {
				box-shadow: $box-shadow-hover;
				transition: box-shadow .2s;
				color: $color-mark;
				p {
					color: inherit;
				}
			}

			&:active {
				box-shadow: $box-shadow-active;
			}

			&:hover :nth-child(1) {
				color: $color-mark;
			}
		}

//! ============= Menu burger ================

.menu__icon {
	display: none;
}

@media only screen and (max-width: 1170px) {
	.conteiner__nav {
		transition: 0.3s;
		left: -100%;
		box-shadow: $box-shadow-active;
	}

	.nav__dividing-line {
		display: none
	};

	.menu__icon {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: $bg;
		box-shadow: $box-shadow-hover;
		border-radius: 15px;
		width: 60px;
		height: 60px;
		padding: 10px;
		position: fixed;
		right: 12px;
		top: 12px;
		transition: box-shadow 0.2s;
		cursor: pointer;
		z-index: 99999999;

		&:hover {
			box-shadow: $box-shadow-out-text;
			transition: box-shadow 0.2s;
		}

		&:active {
			box-shadow: $box-shadow-active;
			transition: box-shadow 0.2s;
		}

		span {
			width: 100%;
			height: 5px;
			border-radius: 10px;
			background-color: #000000;
			transition: all 0.3s ease 0s;
			position: relative;

			&:first-child {
				position: relative;
				top: -7px;
			}
			&:last-child {
				position: relative;
				bottom: -7px;
			}
		}
	}

	.menu-icon__ative {
		box-shadow: $box-shadow-in;
		transition: box-shadow 0.2s;
		transition: box-shadow .1s;
		
		&:hover {
			box-shadow: $box-shadow-out-hover;
			// border: solid 5px $color-mark;
			transition: box-shadow .1s;
			// box-shadow: $box-shadow-active;

			span {
				// background-color: $color-mark;
			}

		}

		&:active {
			box-shadow: $box-shadow-active;
		}
	}

	.menu-icon__ative span:first-child {
		top: 5px;
		opacity: 1;
		transform: rotate(135deg);
	}

	.menu-icon__ative span{
		opacity: 0;
		opacity: 0;
		transform: rotate(0deg) scale(0.2, 0.2);
	}

	.menu-icon__ative span:last-child {
		opacity: 1;
		bottom: 5px;
		transform: rotate(-135deg);
	}
}

.nav__ative {
	left: 0px;
}

//!====================Home======================

.wrapper {
	max-width: 1920;
	// min-height: 2000px;
	// padding-bottom: 40px;
	// background-color: $bg;

	// position: relative;

	.img-fone{
	position: fixed;
	height: 100vh;
	width: 100vw;
		background: url(@img/home.svg);
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		z-index: -1;
	}
	
}

.section {
	padding-left: 260px;
	// height: 900px;
	// margin-bottom: 40px;
	// gap: 40px;
	// box-shadow: $box-shadow-in;
	// backdrop-filter: blur(10px);
	// border-bottom: solid 40px #3c905117;

}

.container {
}

.home {
	display: flex;
	justify-content: center;
	align-items: center;
	// min-height: 100%;
	min-height: 100vh;
	width: 100%;
	// flex: 1 1 100%;
	// background: url(@img/home.svg);
	// // background-color: #23255c;	
	// -webkit-background-size: cover;
   //  -moz-background-size: cover;
   //  -o-background-size: cover;
   //   background-size: cover;
	
}

.home-card {
		display: flex;
		justify-content: center;
		padding: 50px;	
		// height: 500px;

	&__container-img {
		display: flex;
		align-self: center;
		max-width: 500px;
		// max-height: 90vh;
		min-width: 230px;
		// max-width: 60vh;
		// min-width: 30%;
		margin-right: calc(-18% + 40px);
		flex: 0 0 45%;
		z-index: 2;
		margin-top: 100px;
		margin-bottom: 100px;
		aspect-ratio: 3 / 4;
		// margin-right: ;

		img {
			backdrop-filter: blur(10px);
			border-radius: 80px;
			border: solid 10px #e3e1e17e;
			box-shadow: $box-shadow-in;
			// max-height: 90vh;
			width: 100%;
			height: 100%;
		}
	}

	&__container-description {	
		max-width: 100%;
		// max-height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		// gap: rem(45);
		@include adaptive-value("gap", 40, 12, 0);
		// background-color: $bg-glass;
		padding-left: calc(18%);
		margin-right: 0;
		margin-left: 0;
		// border-radius: 80px;
		// backdrop-filter: blur(10px);
		// box-shadow: $box-shadow-in;

			.home-title {
				text-align: center;
				h1 {
					@include adaptiv-font(95, 45);
					font-weight: bold;
					color: $text;
				}
			}
	
			.home-speciality-container {
				background-color: $bg;
				align-self: center;
				box-shadow: $box-shadow-out;
				padding: 10px;
				border-radius: 100px;
				text-align: center;
				display: flex;
				font-weight: 500;
				@include adaptiv-font(44, 22);
				color: $color-mark-second;
			
				span {
					padding: 0 20px;
					margin: 0 auto
				}
			}
	
			.home-description {
				@include adaptiv-font(32, 20);
				text-align: center;

			}

			.description-buttons-container {
				display: flex;
				flex-direction: column;
				@include adaptive-value("gap", 40, 12, 0);
				
				
			}
			
			.button-download{
				//! ===\/ NEONE \/ ===
				background-color: #e8dec1;
				border: solid 1px #c9a220;
				color: #8f7316;
				// text-shadow: 0 0 1em $bg, 0 0 1em $bg;
				text-align: center;
				box-shadow: inset 0 0 0.5em 0 #c9a220, 0 0 0.5em 0 #c9a220;
				// transition: all 0.2s;
				//! ===/\ NEONE /\ ===
				// color: #45370a;
				// background-color: #c9a220;
				// text-shadow: 0 0 1em $bg, 0 0 1em $bg;
				position: relative;
				z-index: 1;
				// &::after {
				// 	content: '';
				// 	position: absolute;
				// 	top: 0;
				// 	left: 0;
				// 	width: 110%;
				// 	height: 110%;
				// 	background-color: #183a21;
				// 	z-index: -1;
				// }
				font-family: "Montserrat";
				font-weight: 600;
			
			
				&:hover{
					//! ===\/ NEONE \/ ===
					background-color: #c9a220;
					color: #fff1c6;
					text-shadow: 0 0 1em #43360c, 0 0 1em #43360c;
					box-shadow: inset 0 0 1em 0 #c9a220, 0 0 1em 0 #c9a220;
					transition: all 0.2s;
					//! ===/\ NEONE /\ ===
				// 	background-color: #c9a220;
				// 	color: #fff1c6;
				// 	text-shadow: 0 0 1em #43360c, 0 0 1em #43360c;
				} 
			
			}

			.button-hire{
				//! ===\/ NEONE \/ ===
				background-color: #bde3c6;
				border: solid 1px #4eb869;
				color: #367c47;
				// text-shadow: 0px 0px 10px $bg;
				text-align: center;
				box-shadow: inset 0 0 0.5em 0 $color-mark, 0 0 0.5em 0 $color-mark;
				// transition: all 0.2s;
				//! ===/\ NEONE /\ ===
				// background-color: #4eb869;
				// color: #1b3e23;
				// transition: all 0.2s;
				font-family: "Montserrat";
				font-weight: 600;
				
				&:hover{
					//! ===\/ NEONE \/ ===
					background-color: #4eb869;
					color: #a3ffba;
					text-shadow: 0 0 1em #183a21, 0 0 1em #183a21;
					box-shadow: inset 0 0 1em 0 #4eb869, 0 0 1em 0 #4eb869;
					transition: all 0.2s;
					//! ===/\ NEONE /\ ===
					// background-color: #4eb869;
					// color: #befbce;
					// text-shadow: 0 0 1em #183a21, 0 0 1em #183a21;
					// transition: all 0.2s;
					
				} 
			
			}
	
			.home-social-network {
				display: flex;
				justify-content: space-around;
				// gap: 30px;
		
				&__social-icon {
					background-color: $bg;
		
					img {
						width: 60px;
						height: 60px;
						padding: 5px;
					}
				}
			}
	}
}

.dateLearnCountJS {
	display: block;
	// justify-content:center;
	// box-shadow: $box-shadow-out;
	// background-color: $bg;
	padding: rem(10);
	// border-radius: rem(100);
	margin-top: rem(5);
	font-weight: 700;
	letter-spacing: rem(4);
	// text-decoration: underline;
	// border-bottom: solid rem(3) ;
	color: #23255c;
}


#typewriter::after{
	content: "";
	display: inline-block;
   background-color: $color-mark;
   margin-left: 2px;
   margin-bottom: -0.20em;
   width: 4px;
   height: calc(1em + 7px);
   animation: cursor 0.9s infinite;
}

@keyframes cursor {
	0% { opacity: 1; }
	49% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 0; }
}

.button {
	box-shadow: $box-shadow-in;
	transition: box-shadow .2s;
	cursor: pointer;
	box-sizing: border-box;
	@include adaptiv-font(32, 22);
	padding: 20px;
	border-radius: 20px;
	background-color: $bg;
	// height: rem(75);
	// display: flex;
	// align-items: center;
	// justify-items: center;


	&:hover {
		box-shadow: $box-shadow-hover;
		transition: box-shadow .2s;
		color: $color-mark;
	}

	&:active {
		box-shadow: $box-shadow-active;
	}

		// &:hover :nth-child(n) {
		// 	color: $color-mark;
		// 	transition: ease 0.3s;
		// }
}

@media only screen and (max-width: 1400px) {
	.home-card {
		
		
		&__container-img {
			// min-width: 400px;
			// margin-right: -300px;
		}
	}

	.home-card__container-description {
		// padding: 30px 30px 30px 330px;
	}

}

@media only screen and (max-width: 1170px) {
	.section {
		padding-left: 0;
		// padding-top: 10px;
		// padding-bottom: 30px;
		
		.home-card {
			align-items: flex-start;
			&__container-img  {
				// align-solf: flex-start;
				margin-top: 40px;
				margin-bottom: 40px;
				width: 300px;
			}
			&__container-description {
				.home-title {
					h1 {
						
						
						// @include adaptiv-font(20, 60);
						// font-size: 70px;
					} 
				}
		
				.home__subtitle {
					// font-size: 30px;
				}
			}
		}
	}

	.nav__ative {
		left: 0px;
	}
}

@media only screen and (max-width: 989px) {
	.nav-menu .container__avatar-name .nav__avatar {
		margin: 15px 0 5px 0;
	}

	.nav-menu .container__avatar-name {
		margin-bottom: 12px;
	
	}

	.home {
		display: flex;
		width: 100%;
		align-items: flex-start;
	}
	.home-card {
		flex-direction: column;
		justify-content: flex-start;
		height: initial;
		padding: 12px;
		.home-card__container-img {
			margin: 0 20px;
			width: 30vh;
			margin: 0 auto;
			margin-bottom: -30%;

			img {
				border-radius: rem(50);
			}
		}

		.home-card__container-description {
			padding: calc(30% + 20px) 20px 40px 20px;
			gap: rem(20);
			// border-radius: rem(50);

			.description-buttons-container {
				display: flex;
				flex-direction: column;
				gap: rem(20)
			}
		}
	}
}

@media only screen and (max-width: 720px) {
	.nav-list {
		gap: 12px;

		&__item-link {
			height: rem(50);
		}
	}

}


//! ============= About Me ================

.about {
	// height: 100vh;
	// // background: url(@img/about.svg);
	// -webkit-background-size: cover;
   // -moz-background-size: cover;
   // -o-background-size: cover;
   // background-size: cover;
	margin-top: rem(20);
	display: flex;
	justify-content: center;
	align-items: flex-start;

	&__card-description-container {
		display: flex;
		flex-direction: column;
		// margin: 50px;
		// padding: 40px;
		// border-radius: 80px;
	}
	
	&__title-container {
		display: flex;
		justify-content: center;
		// margin: 40px 0;
		margin-bottom: 40px;
	}
	
	&__title {
		@include adaptiv-font(62, 45);
		font-weight: bold;
		color: $text;
	}

	&__subtitle-container {
		display: flex;
		// width: 50vw;
		// flex: 1 1 50%;
	}
	
	&__subtitle {
		// @include adaptiv-font(20, 18);
		font-weight: 500;
		display: flex;
		flex-direction: column;
		gap: 1rem

		// p {

		// }
		
	}
	
	//! ======= skills =====

	&__name-skills {
		@include adaptiv-font(62, 45);
		// font-size: 50px;
		font-weight: bold;
		text-align: center;
		margin-top: 40px;
	}

	&__skills-container {
		display: grid;
		margin-top: 40px;
		grid-template-columns: repeat(2, minmax(200px, 50%));
		// gap: 30px;
		@include adaptive-value("gap", 40, 20, 0);

			h2 {
				align-self: center;
				@include adaptiv-font(32, 24);
				font-weight: 600;
			}
	}
	
	@media only screen and (max-width: 720px){
		.about__skills-container,
		.educatin-work-container {
			grid-template-columns: repeat(1, minmax(200px, 100%));
			justify-content: center;

		}
	}
	
	.skills-direction{
		
		// gap: 20px;
		@include adaptive-value("gap", 20, 12, 0);
		display: flex;
		flex-direction: column;
		@include adaptiv-font(24, 18);
	}

	&__skills-frontend-container{

	}

	
	.skill-container {
		background-color: $bg;
		// background-color: $bg-second;
		box-shadow: $box-shadow-in;
		// box-shadow: 2px 2px 2px 2px#00000037;
		// border: 1px solid #d4d4d4;
		padding: 20px;
		border-radius: 80px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 3px;
	}

	&__html-container {
	}
	
	&__percent {
		justify-self: flex-end;
		// @include adaptiv-font(24, 20);
		padding-right: 6px;
	}

	&__skill-bar {
		grid-column: 1 / 3; 
		box-shadow: $box-shadow-out;
		border-radius: 10px;
		padding: 6px;
	}
	
	&__progress {
		// box-sizing: content-box;
		display: flex;
		background: $color-mark;
		height: 10px;
		border-radius: 10px;
		box-shadow: $box-shadow-hover;
		width: 0%;
		// border: solid 10px $bg;
	}
	
	
	&__css-container {
	}
	
	&__css {
	}
	
	&__js-container {
	}
	
	&__js {
	}
}
	
	//! ======% PROGRESS FRONTEND ================

	// js percent counting
	//! ======% PROGRESS DESIGN ================


	//! ======% PROGRESS BECKEND ================


.educatin-work-container {
	display: grid;
		// margin-top: 80px;
		grid-template-columns: repeat(2, minmax(200px, 50%));
		// gap: 30px;
		@include adaptive-value("gap", 40, 20, 0);
		// padding: 40px;
		@include adaptive-value("padding", 40, 5, 0);
		padding-bottom: 0;
		// background-color: $bg-second;
		// box-shadow: $box-shadow-in;
		// @include adaptive-value("border-radius", 40, 20, 0);
}

.section-block {
	margin-top: rem(80);
}

.section-second-title {
	@include adaptiv-font(32, 24);
	font-weight: 600;
}



.educatin,
.work {
	flex: 0 0 50%;
	min-width: 250px;
	// gap: 50px;

		&__name-container {
			display: flex;
			justify-content: center;
			margin-bottom: 20px;
		}
		
		&__name {
			text-align: center;
			@include adaptiv-font(62, 45);
			font-weight: bold;
		}

		&__content-container {
			display: flex;
			flex-direction: column;
			gap: 15px;
			position: relative;
			// padding-left: 40px;
			// margin-top: 20px;
			@include adaptive-value("padding-left", 40, 15, 0);

		}

		&__decoration-dot {
			position: absolute;
				width: 15px;
				height: 15px;
				border-radius: 100vh;
				background-color: $color-mark;
				top: 15.5px;
				left: 0px;
				transform: translateX(calc(-50% + 1px));
				box-shadow: $box-shadow-hover;
				z-index: 2;
		}

		

		&__decoration-line {
			position: absolute;
			top: 15.5px;
			left: 0;
			width: 2px;
			height: 100%;
			background-color: $color-mark;
			box-shadow: $box-shadow-hover;

			// &::after {
			// 	content: '';
			// 	position: absolute;
			// 	width: 15px;
			// 	height: 15px;
			// 	border-radius: 100vh;
			// 	background-color: $color-mark;
			// 	top: 0;
			// 	left: 0px;
			// 	transform: translateX(calc(-50% + 1px));
			// }
			
		}

		&__date-container {
			display: flex;
			// justify-self: flex-end;
			// flex: 0 0 200px;
			// justify-content: center;
			// line-height: 40px;
		}
		
		ion-icon {
			align-self: center;
			// background-color: #000000;
		}
			
			&__data {
			display: flex;
			justify-content: center;
			align-content: center;
			box-shadow: $box-shadow-in;
			padding: 10px 20px;
			border-radius: 100vw;
			display: flex;
			font-weight: 400;
			color: #4d4d4d;
			gap: 10px;

		}
		
		&__title-container {
			display: flex;
		}

		&__title {
			font-weight: bold;
			@include adaptiv-font(22, 18);
			box-shadow: $box-shadow-in;
			background-color: $bg;
			// border: solid 2px $color-mark;
			// color: #16371f;
			padding: 10px 20px;
			border-radius: rem(25);
		}

		&__description-container {
			margin-bottom: 40px;
			background-color: $bg;
			box-shadow: $box-shadow-in;
			border-radius: rem(25);
			
		}

		&__now{
			// $color-education-now-border: #c9a220;
			// $color-education-now-shadow: #c9a220;
			// #4eb869
			// #c9a220
			// border: solid 5px $color-mark;
			// background-color: $bg
			// box-shadow: inset 0 0 0.5em 0 $color-education-now-shadow, 0 0 0.5em 0 $color-education-now-shadow;
			
		}
		
		&__description {
			padding: rem(10);
			padding: 20px;
			display: flex;
			gap: rem(5);
			//align-items: flex-start;
			//justify-content: flex-start;

			ion-icon {
				align-self: flex-start;
			}
			
			
		}
		.last-line {
			height: calc(100% - 55px);
		}
}

.icon-center {
	display: flex;
	align-self: center;
}


.portfolio {
	display: flex;

	// width: 1700px;
	// align-items: center;
	// align-content: center;
	justify-content: center;
	// justify-self: center;
	// align-self: center;
	// z-index: 99999999999999999999999999999999999999999999;
	
	
	&__container {
		display: flex;
		flex-direction: column;
		
		// width: 90%;
		// margin: 0 auto;
		// @include adaptive-value("margin-left", 50, 12, 0);
		// @include adaptive-value("margin-right", 50, 12, 0);
		@media (max-width: 770px){
			x-direction: column;
			width: 100%;
		}
	}

	&__title-subtitle-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		// align-content: center;
		// margin: 0 auto;
		align-self: center;
		max-width: 1500px;
		
	}

	&__title-container {
		margin-bottom: rem(20)
	}

	&__title {
		@include adaptiv-font(62, 45);
		font-weight: bold;
		text-align: center;
	}

	&__subtitle-container {
		display: flex;
		// width: 40%;
	}
	
	&__subtitle {
		// align-self: center;
		@include adaptiv-font(24, 20);
	}

}





.portfolio-card {
	margin-top: 20px;
	@include adaptive-value("gap", 50, 30, 0);
	@include adaptive-value("padding", 20, 0, 0);
	justify-content: center;
	display: grid;
	grid-template-columns: repeat(3,  minmax(270px, 300px) );

	@media (max-width: 1435px){
		grid-template-columns: repeat(2,  minmax(270px, 300px) );	
	}

	@media (max-width: 770px){
		grid-template-columns: repeat(1,  minmax(270px, 300px) );	
	}

	&__container {
		min-width: 250px;
		border-radius: rem(20);
		// background-color: $bg-card-portfolio;
		// box-shadow: $box-shadow-hover;
		transition: all 0.3s ease 0s;
		
		&:hover {
			.portfolio-card__img-container img {
				transform: scale(1.02);
				transition: all 0.3s ease 0s;
			}
			// box-shadow: $box-shadow-active;
			// box-shadow: 12px 12px 13px $shadow,
			// -12px -12px 13px $light;;

			// transition: all .2s;
		}
		
	}
	
	&__img-container {
		aspect-ratio: 1 / 1;
		overflow: hidden;
		border-radius: 20px;
		
		img {
			transition: all 0.3s ease 0s;
			width: 100%;
			height: 100%;

			object-position: top;
			&:hover {
			}
		}
	}
	
	&__info-container {
		width: 100%;
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		// align-items: s;
		justify-self: flex-end;
		transition: all .3s;
		opacity: 1;
		margin-top: rem(10);
	}

	&__tittle-parent {
		display: flex;
		flex-direction: row;
	}

	&__icon {
		display: flex;
		width: rem(36);
		height: rem(36);
		// border-radius: rem(16);
		margin-right: rem(10);
	}

	&__text-wrapper {
		
	}
	
	&__title {
		// color: #ffff;
		color: #242424;
		// color: #000000;
		// padding: 10px;
		font-size: rem(20);
		// font-weight: bold;
		text-shadow: 0px 0px 13px #FFFFFF;
		text-align: start;
	}

	&__description {
		font-size: rem(12);
		text-align: start;
		color: rgb(117, 117, 117);
		min-height: 3.7em;
		word-wrap: break-word;
	}

	&__buttons-container {
		display: flex;
		// flex-direction: ;

		gap: rem(7);
		// padding-top: rem(10);
		width: 100%;
		justify-content: space-between;
		// padding-left: rem(46);
		align-items: center;
		// padding: rem(20) rem(0) rem(20) rem(0);
		// align-items: flex-end;

		// justify-self: flex-end;
		// column-gap: 10px;
	}

	&__languages {
		span {
			font-size: rem(32);
		}
		font-size: rem(14);
		display: flex;
		gap: rem(25);
		width: 100%;
		justify-content: space-around;
		// flex-direction: column;
	}

	&__lang {
		display: flex;
		flex-direction: column;
	}
	
	&__button {
		width: 75px;
		height: 75px;
		// width: 100%;
		font-size: rem(14);
		// width: 120px;
		padding: rem(8);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		span{
			font-size: rem(36);
		}
		
	}

	&__button-git {
		border: solid 2px $bg;
		// color: $color-mark;
		transition: all 0.2s;
		display: flex;
		// gap: rem(5);

		&:hover {
			color: black;
			// transform: translateY(-1px);
			transition: all 0.2s;
		}
	}
	
}


ion-icon {
	display: flex;
	flex-direction: column;
}


.contact-me {
	display: flex;
	justify-content: center;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;


		// padding: rem(40) rem(100) rem(100) rem(100);
	}

	&__title-subtitle-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		@include adaptiv-font(62, 45);
		font-weight: bold;
		// color: $text;
	}

	&__title-subtitle {
		@include adaptiv-font(24, 20);
		// &:hover {
		// 	color: $color-mark;
		// }
	}

	&__form-container {
		display: flex;
		flex-wrap: wrap-reverse;
		align-content: center;
		justify-content: center;
		margin-top: 40px;
		column-gap: rem(75);
		row-gap: rem(20);
	}

	&__phone-etc-container {
		display: flex;
		flex-direction: column;
		// gap: rem(30);
		@include adaptive-value("gap", 30, 20, 0);
		

	}
	
	&__contact {
		gap: 10px;
		display: flex;
		align-items: center;
		padding: 0 0 0 rem(20);
		@include adaptive-value("height", 90, 70, 0);
		@include adaptiv-font(20, 14);

		ion-icon {
			font-size: inherit;
		}
	}

	&__map-container {
		// height: 100%;
		display: flex;
		justify-content: center;
		// align-items: flex-end;
		margin-bottom: rem(20);
		

		iframe {
			@include adaptive-value("width", 350, 260, 0);
			@include adaptive-value("height", 350, 260, 0);
			// min-width: 250px;
			// height: 400px;
			// min-height: 250px;
			aspect-ratio: 1 / 1;
			border-radius: 20px;
			box-shadow: $box-shadow-in;
		}
	}
	

	&__contact-logo {
		display: flex;
		justify-content: center;
		align-items: center;
		align-self: center;
		@include adaptiv-font(40, 30);
		color: $color-mark;
		@include adaptive-value("width", 50, 40, 0);
	}

	&__contact-info-container {
		padding-right: rem(20);
		text-align: start;
	}

	&__contact-info-title {
	}

	&__contact-info-subtitle {
		// color: $color-text-contacts
	}
}

._sending-mail {
	// overflow: hidden;
	
	position: relative;
	&::after {
		border-radius: 1.25rem;
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		right: 0;
		
		border: solid 1px #4eb869;
		color: #367c47;
		text-align: center;
		box-shadow: inset 0 0 0.5em 0 #3c9051, 0 0 0.5em 0 #3c9051;
		backdrop-filter: blur(7px);
		// background: url(@img/loading.gif) center center no-repeat;
		
		transition: all .5s ease 0s;
	}
}

.contact-me {

	&__form {
		display: flex;
		flex-direction: column;
		@include adaptive-value("width", 500, 270, 0);
		@include adaptive-value("gap", 30, 20, 0);
		position: relative;
		
		&::after {
			content: '';
			position: absolute;
			width: calc(100% + (12px * 2));
			height: calc(100% + (12px * 2));
			top: -12px;
			left: -12px;
			background: url(@img/loading.gif) center center no-repeat;
			backdrop-filter: blur(4px);
			border-radius: rem(20);
			
			
			// background-color: #bde3c666;
			border: solid 1px #4eb869;
			color: #367c47;
			text-align: center;
			box-shadow: inset 0 0 0.5em 0 #3c9051, 0 0 0.5em 0 #3c9051;
			font-family: "Montserrat";
			font-weight: 600;
			opacity: 0;
			// display: block;
			visibility: hidden;
			transition: all .5s ease 0s;
		}

	}
	._sending::after {
		opacity: 1;
		// display: block;
		visibility: visible;
		transition: all .5s ease 0s;
	}

	&__inputs {
	}

	&__content {
		// transition: all .5s ease 0s;
		// // padding: rem(18.5) rem(12);
		// margin: rem(10);
		// background-color: $bg;
		border-radius: rem(20);
		// box-shadow: $box-shadow-out;
		// // background: none;
		// color: $text;
		// transition: all 0.2s;
		// overflow: hidden;

		// &:focus {
		// 	// box-shadow: $box-shadow-out-hover;
		// 	// transition: all 0.2s;
		// }
		background-color: $bg;
		position: relative;
		
	}
	
	&__label {
		// color: $color-text-contacts;
		// padding-left: rem(10);
	}
	
	&__input {
		background-color: $bg;
		background: none;
		border-radius: rem(20);
		box-shadow: $box-shadow-out;
		color: $text;
		@include adaptiv-font(20, 16);
		font-family: 'Montserrat';
		width: 100%;
		border: none;
		outline: none;
		padding: rem(13);
		@include adaptive-value("height", 90, 70, 0);
		transition: all 0.2s;
		z-index: 2;
		position: relative;
		
		&:focus {
			// background-color: #367c47;
			box-shadow: $box-shadow-out-hover;
			transition: all 0.2s;

			& ~ .form-label {
				// top: rem(-12);
				// transform: translateY(calc(-100% + 20px));
				top: 0;
				// @include adaptiv-font(12, 10);
				font-size: rem(12);
				background-color: $bg;
				padding: rem(5);
				box-shadow: $box-shadow-in;
				border-radius: rem(10);
				z-index: 2;
				// color: #8f2e16;
			}
		}

		&:not(:placeholder-shown) ~ .form-label{
			// transform: translateY(calc(-100% + 20px));
				top: 0;
				// @include adaptiv-font(12, 10);
				font-size: rem(12);
				background-color: $bg;
				padding: rem(5);
				box-shadow: $box-shadow-in;
				border-radius: rem(10);
				z-index: 2;
		}
		
	}
	
}

.form-label {
	position: absolute;
	left: rem(20);
	top: 50%;
	transform: translateY(-50%);
	
	transition: 0.2s;
	z-index: 1;
	
}


.form-textarea-label {
	top: 17%;
	// transform: translateY(50%);
}
// .textarea-parent {
// 	box-shadow: $box-shadow-out-hover;
// }
// input, textarea, select {
// 	-webkit-appearance: none;
// 	}

.error {
	box-shadow: $box-shadow-out;
	// transition: all 3s;
	animation-name: inputError;
	animation-duration: 5s;
	box-shadow: 4px 4px 4px rgb(237, 89, 89) inset,
						-4px -4px 4px rgb(228, 147, 147) inset;
}

#formMessage-error {
	position: absolute;
	top: rem(10);
	left: 50%;
	transform: translateX(-50%);
	box-shadow: none;
	color: rgb(220, 58, 58);
	font-size: rem(14);
}

.status {
	span {
		padding: rem(20);

		position: absolute;
		top: -130%;
		left: 50%;
		font-weight: 700;
		// @include adaptiv-font(200, 100);
		font-size: rem(100);
		// transform: scale(.2);
		animation-name: statusError;
		transform: translateX(-50%);
		// transform: translateY(-50%);
		transition: all 0.3s ease 0s;
		color: #b80909;
		animation-duration: 3s;


	@keyframes statusError {
		0% {
		}
		1% {
			transform: translateX(calc(-50% + 0rem));
			
		}
		3% {
						transform: translateX(calc(-50% + 1rem));
		}
		5% {
						transform: translateX(calc(-50%));
		}
		7% {
						transform: translateX(calc(-50% + 1rem));
		}
		9% {
						transform: translateX(calc(-50%));
		}
		11% {
						transform: translateX(calc(-50% + 1rem));
		}
		13% {
						transform: translateX(calc(-50%));
		}
		15% {
						transform: translateX(calc(-50% + 1rem));
		}
		17% {
						transform: translateX(calc(-50% + 0rem));
		}
	}

		&::before{
			content:'Error';
			font-size: rem(20);
			transform: rotate(-54deg);
			position: absolute;
			left: rem(8);
			top: rem(50);
			// backdrop-filter: blur(-10);
		}
	}
}

.form-send-message {
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	height: 100%;

	img {
		max-width: rem(200);
		color: $color-mark;
	}

	p {
		font-size: rem(30);
	}
}

@keyframes inputError {
	20% {
		// box-shadow: 4px 4px 4px rgb(237, 89, 89) inset,
		// 				-4px -4px 4px rgb(228, 147, 147) inset;
	}
	to {
		// box-shadow: 4px 4px 4px rgb(228, 42, 42) inset,
		// 					-4px -4px 4px rgb(203, 16, 16) inset;
		// box-shadow: $box-shadow-out;
							// transition: all 1s;
							
	}
	0% {
	}
	1% {
		transform: translateX(0rem);
		
	}
	2% {
		transform: translateX(1rem);
	}
	3% {
		transform: translateX(0rem);
	}
	4% {
		transform: translateX(1rem);
	}
	5% {
		transform: translateX(0rem);
	}
	6% {
		transform: translateX(1rem);
	}
	7% {
		transform: translateX(0rem);
	}
}

.input-message {
	height: 100%;
	max-width: 100%;
	min-width: 100%;
	// max-height: 100%;
	// min-height: 200px;
}


.button-send-mail-container {
	display: flex;
	justify-content: center;
	// align-items: flex-end;
	// height: 100%;
	
	.button:hover {
		background-color: #4eb869;
		color: #a3ffba;
		text-shadow: 0 0 1em #183a21, 0 0 1em #183a21;
		box-shadow: inset 0 0 1em 0 #4eb869, 0 0 1em 0 #4eb869;
		transition: all 0.2s;
		ion-icon {
			text-shadow: 0 0 1em #183a21, 0 0 1em #183a21;
			// color: #23255c;
		}
		
	}
}

.button-send-mail {
	display: flex;
	gap: rem(10);
	align-items: center;
	align-self: flex-end;
	margin-bottom: rem(20);
	@include adaptive-value("height", 90, 70, 0);
	// background-color: $color-mark;
	// color: #FFFFFF;

	background-color: #bde3c6;
	border: solid 1px #4eb869;
	color: #367c47;
	text-align: center;
	box-shadow: inset 0 0 0.5em 0 #3c9051, 0 0 0.5em 0 #3c9051;
	font-family: "Montserrat";
	font-weight: 600;
	
	span {
		font-size: 1.5em;
	}

	// input[type="submit"] {
	// 	display: none;
	// }
}

.button-error {
	background-color: #eab4a4;
	border: solid 1px #c93920;
	color: #8f2e16;
	text-align: center;
	box-shadow: inset 0 0 0.5em 0 #c94520, 0 0 0.5em 0 #c94520;

	transition: box-shadow .2s;
	cursor: auto;
	box-sizing: border-box;
	@include adaptiv-font(32, 22);
	padding: 20px;
	border-radius: 20px;

	ion-icon {
		padding-left: rem(10);
	}
	
	// &:hover {
	// 	transform: translateY(-5px);
	// 	background-color: #c93920;
	// 	color: #ffd3c6;
	// 	box-shadow: inset 0 0 1em 0 #c94520, 0 0 1em 0 #c94520;
	// 	transition: all 0.2s;
	// }
}

.button-load{
	background-color: #e8dec1;
	border: solid 1px #c9a220;
	color: #8f7316;
	text-align: center;
	box-shadow: inset 0 0 0.5em 0 #c9a220, 0 0 0.5em 0 #c9a220;
	position: relative;
	z-index: 1;
	font-family: "Montserrat";
	font-weight: 600;
	cursor: wait;
	ion-icon {
		padding-left: rem(10);
	}

	&:hover{
		box-shadow: none;
		background: none;
		background-color: #c9a220;
		color: #fff1c6;
		text-shadow: 0 0 1em #43360c, 0 0 1em #43360c;
		box-shadow: inset 0 0 1em 0 #c9a220, 0 0 1em 0 #c9a220;
		transition: all 0.2s;
	} 
}




.footer {
	margin: 0;
	padding: 0;
	border-radius: 0;
	max-width: 100%;
	// height: 200px;
	// border-top: solid 1px #939393;
	background-color: #58524b9c;
	color: $color-footer;
	// display: flex;
	justify-content: center;
	// z-index: 100000000;
	// position: relative;
	
	box-shadow: 2px 2px 7px 3px rgba(65, 65, 65, 0.451);
	
	&__container {
		display: flex;
		// grid-template-columns: 1fr;
		flex-wrap: wrap;
		justify-content: center;
		column-gap: rem(40);
		row-gap: rem(20);
		align-items: center;
		@include adaptive-value("padding-top", 40, 20, 0);
		@include adaptive-value("padding-bottom", 40, 20, 0);
		// padding-top: rem(20);
		// padding-bottom: rem(20);
		// padding-top: rem(40);
		}

		&__iam-container {
			color: $color-footer;
			&:hover {
				color: $color-footer-hover;
				// text-shadow: 0 0 1em #ffffff;
				.footer__iam-title {
					border-bottom: solid 1px $color-footer-hover;
				}
			}
		}
		
		&__iam-title {
			color: inherit;
			border-bottom: solid 1px $color-footer;
			padding-bottom: rem(10);
			margin-bottom: rem(10);
			text-align: center;
			// font-size: rem(28);
			@include adaptiv-font(28, 24);
			font-weight: bold;

		}
		
		&__iam-subtitle {
			color: inherit;
			font-style: italic;
			display: flex;
			justify-content: center;
		}
		
		&__container-social {
			
			.button {
				box-shadow: none;
				background: none;
				&:hover {
					color: $color-footer-hover;
				}
			}
		}
		
		&__social {
		}
}





@media (max-width: 380px) { 
	.wrapper .img-fone {
		background: none;
		}	
	}
