.calc-Calculate {

  &__title-form-box {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.125rem;
    b {
      font-weight: 900;
    }
  }
}

.calc {
  background-color: #445771;
  color: #fff;
  padding-bottom: 30px;
  &__form-contacts-box,
  &__form-params-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: end;
  }
  &__form-contacts-box {
    order: 1;
    @media (max-width: 670px){
      padding-top: 15px;
      border-top: 1px solid $border-color-header;
    }
  }
  &__form-contacts-img-box {
    text-align: center;
    @media (max-width: 670px){
      order: 2;
    }
    img {
      max-height: 100px;
      height: 100%;
    }
  }
  button {
    order: 3;
  }
}

#formCalcCalculate {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  gap: 30px;

  @media (max-width: 670px){
    grid-template-columns: repeat(1, 300px);
    gap: 15px;
  }
}
.comparison-table {
  display: flex;
  justify-content:center;
  margin-top: 30px;

  &__box {
    padding: 20px;
    border-radius: 17px;
    background-color: #EBEEF9;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content:center;
    align-items: center;

  }
  &__title-box {
    font-size: 20px;
    color: $border-color-button;
    font-weight: 600;
    text-align: center;
  }
  a {
    background-color: #419B60;
    &:hover {
      background-color: #368351;
    }
  }
  ._icon-table {
    font-size: 28px !important;
  }
}
