$widthCard:18.75rem;
$setSize: 13.6;

.company {
  
  &__cards-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1.375rem;
    justify-content: center;
    align-items: center;
  }
  
  &__card {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: $widthCard;
    height: $widthCard;
    aspect-ratio: 1/1;
    padding: 1.875rem .9375rem .9375rem .9375rem;
    border-radius: 3.4375rem;
    background-color: $block-color;
    box-shadow: $card-shadow;
    transition: all 0.3s ease 0s;
  }
  
  &__card-title {
    text-align: center;
    font-weight: 600;
    font-size: 26px;
  }

  &__card-text {
    font-size: 30px;
    text-align: center;
    b {
      font-size: 50px;
    }
  }

  &__card-icon {
    font-size: 4.6875rem;
    align-self: flex-end;
  }
}

@media (max-width: $brakepoint-1_2) {
  .company {
  
  &__cards-box {
    gap: .625rem;
  }
  
  &__card {
    width: 12.5rem;
    height: 12.5rem;
    padding: 1.25rem .625rem .625rem .625rem;
    border-radius: 1.875rem;
  }

  &__card:last-child {
    width: 12.5rem;
    height: 12.5rem;
    
    @media (max-width: 39.9375rem) {
      order: -2;

    }
  }
  
  &__card-title {
    font-size: 1.125rem;
  }

  &__card-text {
    font-size: 16px;
    b {
      font-size: 23px;
    }
  }

  &__card-icon {
    font-size: 50px;
  }
}
}
