.form-send {
  justify-content: center;
  @media (max-width: $brakepoint-1) {
    flex-direction: column;
    align-items: center;
  }
}

.inputBox {
position: relative;
max-width: 300px;
width: 100%;
z-index: 0;

span {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  padding: 3px 10px;
  pointer-events: none;
  font-size: 1em;
  color: $input-placeholder;
  transition: all 0.1s ease 0s;
}
  input, select {
    width: 100%;
    height: 45px;
    padding: 0 15px;
    border: 1px solid rgb(9, 21, 73);
    font-size: $fs-nav;
    border-radius: 10px;
    outline: none;

    &::placeholder {
      color: $input-placeholder;
    }

    &:focus,
    &:valid {
      box-shadow: 0 0 0 1px $title-bold, 0px 0px 0px 3px #ffff;
    }
    
    &:valid ~ span,
    &:focus ~ span {
      text-transform: uppercase;
      color: #fff;
      background-color: $header-color;
      border-radius: 5px;

      top: 0;
      transform: translate(10px, -50%) !important;
      font-size: 12px;
      transition: all 0.1s ease 0s;
    }
  }
  select:valid { 
    box-shadow: none;
  }
  select { 
    cursor: pointer;
    color: $border-color-button;
    background-color: #fff;
  }
  select:focus { 
    box-shadow: 0 0 0 1px $title-bold, 0px 0px 0px 3px #ffff;
  }
}
.btn-send {
  padding-left: 20px !important;
  padding-right: 20px !important;
  height: 45px;
  transition: all 0.1s ease 0s;

  @media (max-width: $brakepoint-1) {
    max-width: 300px;
    width: 100%;
  }
}

.form-sending {
  pointer-events: none !important;
  cursor: wait;
  opacity: .5;
  position: relative;
  // transform: scale(0);
  &::after {
    content: '';
    background-image: url(/img/form/loading.gif);
    background-size: 100% 100%;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.btn-form-icon {
  font-size: $btn-icon-size;
}

.btn-sending-success {
  background-color: #2bb673 !important;
  pointer-events: none;
  position: relative;
  &::after {
    content: '';
    background-image: url(/img/form/done.png);
    background-size: 100% 100%;
    height: 50px;
    width: 50px;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -100%);
  }
}

.btn-sending-error {
  background-color: #dd3b3b !important;
  pointer-events: none;
  position: relative;
  &::after {
    content: '';
    background-image: url(/img/form/error-loading.png);
    background-size: 100% 100%;
    height: 50px;
    width: 50px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -100%);
  }
}

