$video-width: 300px;
$video-gap: 23px;

.how-build{

  &__video-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, $video-width);
    justify-content: center;
    gap: $video-gap;
    width: 100%;
    
    img {
      border-radius: 10px;
      transition: all 0.3s ease 0s;
      cursor: pointer;
      &:hover {
        transform: scale(1.015);
        transition: all 0.3s ease 0s;
        box-shadow: 0px 0px 0px 1px #fff, 0px 0px 0px 2px #001629;
      }
    }
  }
}

.video-modal__video-box {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  
  iframe {
    border-radius: 10px;
    width: calc(55vw);
    aspect-ratio: 16 / 9;
    margin: 1.875rem;
    
    @media (max-width: $brakepoint-1) {
      width: calc(80vw);
      margin: .9375rem;
    }
  }
}
.icon-play {
  position: relative;
}

.icon-play::after {
  content: '';
  background-image: url(/img/video/data-poster/play-button.png);
  background-size: 100% 100%;
  height: 60px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}