.sample {
  background-color: $block-color;
  padding: 30px;
  border-radius: 20px;
  box-shadow: $card-shadow;

  
  &__title-box {
    font-size: 1.25rem;
    text-align: center;
  }
  
  &__content-box {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 1.875rem;
    @media (max-width: 700px) {
      flex-direction: column;
    }
  }

  &__img-box {
    img {
      width: 100%;

      @media (max-width: $brakepoint-1_3) {
        max-width: 300px;
      }

    }
  }
  
  &__form-box {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    
  }
  .icon-delivery-circle {
    border-radius: 100px;
    background-color: $header-color-hover;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 8px;
  
    span {
      font-size: 32px;
      color: #fff
    }
  }
  .form-send {
    flex-direction: column;
    min-width: 300px;
    width: 100%;
  }
}

